@using System.Web.MVC;
@using System.Web.Helpers;
@using System.Globalization;
@using ADEntities.ViewModels;
@using ADSystem.Helpers;
@model ADEntities.ViewModels.OutProductsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SALIDA A VISTA @Model.remision</title>
    <link href="~/Content/Print/css/print.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">

    <script type="text/javascript" src="@Url.Js("jquery-1.11.2.min")"></script>
    <script type="text/javascript" src="@Url.Js("angular")"></script>
    <script type="text/javascript" src="@Url.Js("ng-fluent-validation.min")"></script>
    <script type="text/javascript" src="@Url.Js("bootstrap.min")"></script>
    <script type="text/javascript" src="@Url.Js("ui-bootstrap-tpls-0.13.0.min")"></script>
    <script type="text/javascript" src="@Url.Js("angular-file-upload.min")"></script>
    <script type="text/javascript" src="@Url.Js("ng-file-upload.min")"></script>
    <script type="text/javascript" src="@Url.Js("angucomplete")"></script>
    <script type="text/javascript" src="@Url.Js("Class/General")"></script>
    <script type="text/javascript" src="@Url.Js("Class/OutProductsPrint")"></script>
    <script type="text/javascript" src="@Url.Js("ngProgress")"></script>
    <script type="text/javascript" src="@Url.Js("acute.select")"></script>
    <script type="text/javascript" src="@Url.Js("angular-animate.min")"></script>
    <script type="text/javascript" src="@Url.Js("toaster")"></script>
    <script type="text/javascript" src="@Url.Js("ng-currency")"></script>
    <script type="text/javascript" src="@Url.Js("angular-filter")"></script>
</head>

<body data-ng-app="General" data-ng-controller="GeneralController">

    <div class="contenedor">
        <table style="width: 100%; padding: 20px 0 5px 0;">
            <tr>
                <th style="width: 30%;"></th>
                <th style="width: 30%;">
                    <img style="width: 300px;" src="@Url.Img("print/logotipo.png")">
                </th>
                <th class="folio" style="width: 30%; padding-right: 20px;">Remisión: <strong>@Model.remision</strong></th>
            </tr>
        </table>

        <table style="width: 100%; border-bottom: 1px solid #D4D4D4; padding: 20px; text-align: center;">
            <tr>
                <th class="txt-data" style="width: 30%; text-align: left;">Sucursal:<strong> @Model.Sucursal</strong></th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="width: 30%;">Vendedor:<strong>@Model.Vendedor</strong><br /><strong>@Model.Vendedor2</strong></th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="width: 30%; text-align: right;">Fecha:<strong>@Model.Fecha</strong></th>
            </tr>
            @if (Model.idDespachoReferencia != null)
            {
                <tr>
                    <td class="txt-data" style="width: 30%; text-align: left;"></td>
                    <td class="txt-data">|</td>
                    <td class="txt-data" style="width: 30%;">Despacho:<strong>@Model.DespachoReferencia</strong></td>
                    <td class="txt-data">|</td>
                    <td class="txt-data" style="width: 30%; text-align: right;"></td>
                </tr>
            }
        </table>

        <table style="width: 95%; padding: 20px; text-align: left; margin: 0 auto;">
            <tr>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Cliente:<strong> @Model.ClienteFisico &nbsp; @Model.ClienteMoral &nbsp; @Model.Despacho</strong></th>
                <th></th>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Móvil:<strong> @Model.oAddress.TelCelular</strong></th>
            </tr>
            <tr>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Teléfono:<strong> @Model.oAddress.TelCasa</strong></th>
                <th></th>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Direccción:<strong> @Model.oAddress.Direccion</strong></th>
            </tr>
            <tr>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Email:<strong> @Model.oAddress.Correo</strong></th>
                <th></th>
                <th class="txt-data" style="width: 46%; border-bottom: 1px solid #D4D4D4; padding: 5px 0 10px 20px;">Proyecto:<strong> @Model.Proyecto</strong></th>
            </tr>
        </table>

        <table style="width: 100%; padding: 10px; border-bottom: 2px solid #000;">
            <tr>
                <th style="width: 31%;">
                    <div class="circulo-left"></div>
                </th>
                <th class="titulos" style="width: 30%; text-align: center;">SALIDA A VISTA</th>
                <th style="width: 31%;">
                    <div class="circulo-right"></div>
                </th>
            </tr>
        </table>

        <table style="width: 100%; padding: 20px 0 3px 0">
            <tr>
                <th class="subtitulos">
                    DETALLE
                </th>
            </tr>
        </table>

        <table style="width: 100%; border: 1px solid #D4D4D4; border-radius: 5px; padding: 10px; text-align: center;">
            <tr>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        IMAGEN
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        CÓDIGO
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        DESCRIPCIÓN
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        CANT.
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        PRECIO UNITARIO
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        SUBTOTAL
                    </strong>
                </th>
                <th class="txt-data">|</th>
                <th class="txt-data" style="text-align: center;">
                    <strong>
                        TOTAL
                    </strong>
                </th>
            </tr>
        </table>

        <section class="tb-productos" data-ng-controller="OutProductsPrint" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.oDetail))">
            <table style="width: 100%; text-align: left;">
                <tr ng-repeat="item in items" class="border-bottom">
                    <td class="imagen-producto" style="width: 12%;">
                        <img src="{{item.urlImagen}}">
                    </td>
                    <td class="txt-data" style="width: 12%;">
                        {{item.Codigo}}
                    </td>
                    <td class="txt-data" style="width: 14.5%;">
                        {{item.Descripcion}}
                    </td>
                    <td class="txt-data" style="width: 11%;">
                        {{item.Cantidad}}
                    </td>
                    <td class="txt-data" style="width: 19%;">
                        {{item.Precio | currency }}
                    </td>
                    <td class="txt-data" style="width: 13%;">
                        {{(item.Cantidad * item.Precio) | currency}}
                    </td>
                    <td class="txt-data" style="width: 6.5%;">
                        {{(item.Cantidad * item.Precio) | currency}}
                    </td>
                </tr>
            </table>
        </section>

        <table style="width: 100%; margin-top: 15px; border-bottom: 2px solid #000; border-top: 2px solid #000; padding: 10px;">
            <tr>
                <td class="txt-data" style="text-align: left; width: 42%; padding: 0 0 15px 0;">
                    Cantidad de productos: <strong>@Model.CantidadProductos</strong>
                </td>
                <td class="txt-data" style="text-align: left; width: 25%; padding: 0 0 15px 0;">
                   
                </td>
                <td class="txt-data" style="text-align: right; width: 25%; padding: 0 0  15px 0;">
                    Sub total:<strong>@Model.Subtotal.Value.ToString("C", CultureInfo.CurrentCulture)</strong>
                </td>
            </tr>
            <tr>
                <td class="txt-data" style="text-align: left; width: 42%">
                    <textarea class="textarea" name="mensaje" placeholder="COMENTARIOS:"></textarea>
                </td>
                <td class="txt-data" style="text-align: left; width: 25%;"></td>
                <td class="txt-data" style="text-align: right; width: 25%;">   
                    Total:<strong> @Model.Total.Value.ToString("C", CultureInfo.CurrentCulture)</strong>
                </td>
            </tr>
        </table>
        <table style="width: 100%; border-bottom: 2px solid #000;">
            <tr>
                <th class="txt-data-10 info">
                    Debo y pagaré incondicionalmente por este pagaré a la orden de Accents Decoration S. de R.L. de C.V. el valor de la mercancía antes descrita, entregada a mi entera satisfacción. Al no pagarse a su vencimiento, desde ese momento hasta el día de la liquidación, causará intereses moratorios al tipo de 10% mensual, pagadero en esta ciudad justamente con el principal.
                </th>
            </tr>
            <tr>
                <th class="txt-data-10 info">
                    *Una vez salida la mercancia no se aceptarán cambios ni devoluciones.
                    <strong>
                        Fecha de pago:
                        <textarea class="textarea-container-fecha"></textarea>
                        /
                        <textarea class="textarea-container-fecha"></textarea>
                        /
                        <textarea class="textarea-container-fecha"></textarea>
                        Firma del cliente: ___________________
                    </strong>
                </th>
            </tr>
        </table>
        <div class="footer">
            <p>Río Amazonas 305 Ote. Col. del Valle San Pedro, Garza Garcia, N. L. CP: 66220, Tel. (81) 8356 9558, www.acentsdecoration.com, RFC: ADE050128252</p>
        </div>
    </div>

    <script type="text/javascript">

        window.print();

    </script>
</body>
</html>