@using System.Web.MVC;
@using System.Web.Helpers;
@using System.Globalization;
@using ADEntities.ViewModels;
@using ADSystem.Helpers;
@model ADEntities.ViewModels.SaleViewModel
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>ABONO @Model.Remision</title>
    <link href="~/Content/Print/css/styles.css" rel="stylesheet" />
    <link href="~/Content/Print/css/fonts.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans+Condensed:300,700" rel="stylesheet" />

    <script type="text/javascript" src="@Url.Js("jquery-1.11.2.min")"></script>
    <script type="text/javascript" src="@Url.Js("angular")"></script>
    <script type="text/javascript" src="@Url.Js("lodash.min")"></script>
    <script type="text/javascript" src="@Url.Js("ng-fluent-validation.min")"></script>
    <script type="text/javascript" src="@Url.Js("bootstrap.min")"></script>
    <script type="text/javascript" src="@Url.Js("ui-bootstrap-tpls-0.13.0.min")"></script>
    <script type="text/javascript" src="@Url.Js("angular-file-upload.min")"></script>
    <script type="text/javascript" src="@Url.Js("ng-file-upload.min")"></script>
    <script type="text/javascript" src="@Url.Js("angucomplete")"></script>
    <script type="text/javascript" src="@Url.Js("Class/General")"></script>
    <script type="text/javascript" src="@Url.Js("Class/SalesPrint")"></script>
    <script type="text/javascript" src="@Url.Js("ngProgress")"></script>
    <script type="text/javascript" src="@Url.Js("acute.select")"></script>
    <script type="text/javascript" src="@Url.Js("angular-animate.min")"></script>
    <script type="text/javascript" src="@Url.Js("toaster")"></script>
    <script type="text/javascript" src="@Url.Js("ng-currency")"></script>
    <script type="text/javascript" src="@Url.Js("angular-filter")"></script>

</head>

<body data-ng-app="General" data-ng-controller="GeneralController">
    <header>
        <div class="logo-container">
            <img src="@Url.Img("print/logotipo.png")" />
        </div>
        <div class="header-container-data-left">
            Remisión: <strong>@Model.Remision</strong>
        </div>
    </header>
    <section class="header-data-container">
        <div class="data-ofice-nv">
            Sucursal: <strong>@Model.Sucursal</strong>
        </div>
        <div class="data-ofice-nv">
            Vendedor: <strong>@Model.Usuario1</strong><br /><strong>@Model.Usuario2</strong>
        </div>
        <div class="data-ofice-nv">
            Fecha: <strong>@Model.Fecha</strong>
        </div>
        <div class="data-ofice-nv-gray">
            Factura: <strong>@Model.NumberFactura.</strong>
        </div>
    </section>
    <section class="container-data-client">
        <div class="container-laterals">
            <table class="container-laterals-data">
                <tr>
                    <th class="th-right"><img src="@Url.Img("print/icon-user.png")" /></th>
                    <th class="tr-left">Cliente: @Model.ClienteFisico &nbsp; @Model.ClienteMoral &nbsp; @Model.Despacho</th>
                </tr>
                <tr>
                    <th class="th-right"><img src="@Url.Img("print/icon-phone.png")" /></th>
                    <th class="tr-left">Teléfono: @Model.oAddress.TelCasa</th>
                </tr>
                <tr>
                    <th class="th-right"><img src="@Url.Img("print/icon-mail.png")" /></th>
                    <th class="tr-left">Email: @Model.oAddress.Correo</th>
                </tr>
            </table>
        </div>

        <div class="container-data-client-icon">
            <img src="@Url.Img("print/icon.png")" />
        </div>

        <div class="container-laterals">
            <table class="container-laterals-data">
                <tr>
                    <th class="th-right"><img src="@Url.Img("print/icon-mobil.png")" /></th>
                    <th class="tr-left">Móvil: @Model.oAddress.TelCelular</th>
                </tr>
                <tr>
                    <th class="th-right"><img src="@Url.Img("print/icon-mail.png")" /></th>
                    <th class="tr-left">Dirección: @Model.oAddress.Direccion</th>
                </tr>
                <tr>
                    <th style="height: 20px;" class="th-right"></th>
                    <th class="tr-left"></th>
                </tr>
            </table>
        </div>
    </section>
    <section class="name-document">
        REGISTRO DE ABONO
    </section>   
    <section class="container-data-client">
        <div class="container-laterals">
            <table class="container-laterals-data">
                <tr>
                    <th class="th-right"></th>
                    <th class="tr-left"><strong>Abono:</strong> @Convert.ToDecimal(ViewData["deposit"]).ToString("C", CultureInfo.CurrentCulture)</th>
                </tr>
            </table>
        </div>

        <div class="container-data-client-icon">
            <img src="@Url.Img("print/icon.png")" />
        </div>

        <div class="container-laterals">
            <table class="container-laterals-data">
                <tr>
                    <th class="th-right"></th>
                    <th class="tr-left"><strong>Restan:</strong> @Convert.ToDecimal(ViewData["remaining"]).ToString("C", CultureInfo.CurrentCulture)</th>
                </tr>                
            </table>
        </div>
    </section>
    <section class="title-action">
        DETALLE DE LA VENTA
    </section>
    <section class="container-tab-fp" style="overflow-x:auto; border-bottom: none;" data-ng-controller="SalesPrint">
        <table class="data-fpay" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.oDetail))">
            <tr>
                <th><strong>IMAGEN</strong></th>
                <th><strong>CÓDIGO</strong></th>
                <th><strong>DESCRIPCIÓN</strong></th>
                <th><strong>CANT</strong></th>
                <th><strong>PRECIO UNITARIO</strong></th>
                <th><strong>SUBTOTAL</strong></th>
                <th><strong>DESCUENTO</strong></th>
                <th><strong>TOTAL</strong></th>
            </tr>
            <tr style="border-bottom: 1px solid #f7f7f7;" ng-repeat-start="item in items">
                <td>
                    <img class="img-product-list" src="{{item.oProducto.urlImagen}}">
                </td>
                <td>{{item.Codigo}}</td>
                <td><div class="txt-describe" style="width:200px;">{{item.Descripcion}}</div></td>
                <td>{{item.Cantidad}}</td>
                <td>{{item.Precio | currency }}</td>
                <td>{{item.Cantidad * item.Precio | currency}}</td>
                <td>{{item.Descuento}} %</td>
                <td style="font-weight: bold; color: #000">{{ (item.Cantidad * item.Precio) - ((item.Cantidad * item.Precio) * (item.Descuento/100)) | currency}}</td>
            </tr>
            <tr ng-repeat-end ng-show="item.Comentarios.length > 0">
                <td>
                    <strong>COMENTARIOS:</strong>
                </td>
                <td colspan="7">
                    <p class="text-left">{{item.Comentarios}}</p>
                </td>
            </tr>
            @*<tr>
                <td colspan="5" class="text-right">
                    <strong>SUMA:</strong>
                </td>
                <td ng-init="sumaSubTotal = @Model.SumSubtotal">
                    <p class="text-right">{{sumaSubTotal | currency}}</p>
                </td>
            </tr>*@
        </table>
        <table class="data-fpay-total">
            <tr>
                <td style="color: #464646; text-align: right; font-size: 15px;">Cantidad de productos</td>
                <td style="color: #747474;">@Model.CantidadProductos</td>
                <td style="color: #464646; text-align: right; padding-right: 3%;">Subtotal: <strong>@Model.Subtotal.Value.ToString("C", CultureInfo.CurrentCulture)</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                @{
                    if (Model.Descuento > 0)
                    {
                        <td style="color: #464646; text-align: right; padding-right: 3%;">Descuento: <strong>@Math.Truncate((decimal)Model.Descuento)%</strong></td>
                    }
                    else
                    {
                        <td></td>
                    }
                }


            </tr>
            <tr>
                <td></td>
                <td></td>
                @{
                    if (Model.IVA > 0)
                    {
                        decimal? subtotal = (Model.Subtotal - (Model.Subtotal * (Model.Descuento / 100))) + (Model.TotalNotasCredito??0);
                        decimal? IVA = 0.16m;

                        var result = subtotal * IVA;

                        if (result < 0)
                        {
                            result = 0;
                        }

                        <td style="color: #464646; text-align: right; padding-right: 3%;">16% IVA: @result.Value.ToString("C", CultureInfo.CurrentCulture)</td>
                    }
                    else
                    {
                        <td></td>
                    }

                    var Total = (Model.Total > 0) ? Model.Total.Value.ToString("C", CultureInfo.CurrentCulture) : "$0.00";
                }

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="color: #464646; text-align: right; padding-right: 3%;">Total: <strong style="font-weight: bold; color: #000;">@Total</strong></td>
            </tr>
        </table>
    </section>
    <div class="line-black"></div>
    <section class="container-coments">
        <table>
            <tr>
                <td style="width:auto;">
                    <div class="coment-title">
                        COMENTARIOS
                    </div>
                </td>
                <td style="width:auto;">
                    <img src="@Url.Img("print/icon.png")" />
                </td>
                <td style="width:auto;">
                    <p style="margin-left:10px;">@Model.Comentarios</p>
                </td>
            </tr>
        </table>    
    </section>
    <footer>
        <p>Río Amazonas 305 Ote. Col. del Valle San Pedro, Garza Garcia, N. L. CP: 66220, Tel. (81) 8356­ 9558 RFC: ADE050128252</p>
    </footer>
    <script type="text/javascript">

        window.print();

    </script>
</body>
</html>