@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@using ADSystem.Common;
@using ADEntities.Queries.TypesGeneric;

@{
    ViewBag.Title = "Reportes - Ventas";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}
<style>
    .table {
        width: 3500px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .img-responsive {
        width: 44px;
        height: 44px;
        display: inline;
        cursor: pointer;
    }
</style>

<link rel="stylesheet" type="text/css" href="@Url.Css("Content/CSS/angucomplete")" />
<link rel="stylesheet" type="text/css" href="@Url.Css("Content/CSS/bootstrap-datetimepicker")" />

<script>
    $(document).on("click", ".modal-body", function () {
        $(".datepickerSales").datetimepicker({
            format: 'MM-DD-YYYY'
        });
    });
</script>

<script type="text/javascript" src="@Url.Js("Class/ReportsSummarySales")"></script>
<script type="text/javascript" src="@Url.Js("moment.min")"></script>
<script type="text/javascript" src="@Url.Js("bootstrap-datetimepicker.min")"></script>

<br />
<div class="panel panel-default" data-ng-controller="ReportsController" style="width:1200px;">
    <div class="panel-heading">
        <h3 class="panel-title">Reporte Ventas</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" style="margin-left:300px;width:500px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Desde</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateSince" datepicker-popup="{{format}}" data-ng-model="dateSince" is-open="openedSince" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openSince($event)" show-button-bar="false" placeholder="Seleccione la fecha inicial de consulta" data-ng-init="dateSince = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateUntil" datepicker-popup="{{format}}" data-ng-model="dateUntil" is-open="openedUntil" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openUntil($event)" show-button-bar="false" placeholder="Seleccione la fecha final de consulta" data-ng-init="dateUntil = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Vendedor</label>
                <div class="col-sm-6" data-ng-init="LoadUsers()">
                    <select class="form-control" name="seller" id="seller" data-ng-model="seller" data-ng-options="option.NombreCompleto for option in users">
                        <option value="">Seleccione...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sucursal</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="sBranchAma" id="sBranchAma" ng-true-value="2" />Amazonas
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchGua" id="sBranchGua" ng-true-value="3" />Guadalquivir
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchTex" id="sBranchTex" ng-true-value="4" />Textura
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="button" id="searchReport" class="btn btn-primary button-search" data-loading-text='Buscando...' data-ng-click="GenerarReporteVentas(0,10)">Buscar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="table-responsive" style="width:100%; height:auto;">
            <div class="row">
                <div class="col-md-1">Estatus</div>
                <div class="col-md-2">Fecha</div>
                <div class="col-md-2">Remision</div>
                <div class="col-md-1">Tipo</div>
                <div class="col-md-2">Cliente</div>
                <div class="col-md-1">Subtotal</div>
                <div class="col-md-1">Descuento</div>
                <div class="col-md-1">Total</div>
                <div class="col-md-1">Opciones</div>
            </div>
            <div class="row" data-ng-repeat="sale in Sales" ng-hide="sale.Omitir">
                <div class="col-md-1 text-center">
                    <i class="fa fa-circle color-{{sale.sEstatus}}" style="left: 0px;" ng-show="(sale.Estatus == 2 && sale.Pagado == false) || (sale.Pagado == true && sale.Estatus == 1)"></i>
                </div>
                <div class="col-md-2">{{sale.Fecha | jsDate |date:'MM-dd-yyyy'}}</div>
                <div class="col-md-2">{{sale.Remision}}</div>
                <div class="col-md-1">{{sale.TipoCliente}}</div>
                <div class="col-md-2">{{sale.Cliente}}</div>
                <div class="col-md-1">{{sale.ImporteVenta | currency}}</div>
                <div class="col-md-1">{{sale.IntDescuento}} %</div>
                <div class="col-md-1">{{(sale.ImportePagadoCliente - sale.comAmericanExpress) | currency}}</div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-sm dropdown-toggle" style="width:80px; background-color:{{s.sEstatus}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciónes<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="min-width:78px; max-width:78px;">
                        <li><a href="javascript:void(0);" data-ng-click="DetailSaleReport(sale.Remision)"><i class="fa fa-eye color-red" style="left: 0px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-info">
        <div class="row">
            <div class="col-md-6">
                <b>Concepto</b>
            </div>
            <div class="col-md-6">
                <b>Cantidad</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Total del monto vendido (bruto)</span>
            </div>
            <div class="col-md-6">
                {{comisiones.TotalVentasBruto | currency}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Total del monto vendido (neto)</span>
            </div>
            <div class="col-md-6">
                {{comisiones.TotalVentasNeto | currency}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Total saldado (neto)</span>
            </div>
            <div class="col-md-6">
                {{comisiones.TotalSaldado | currency}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span>Total pendiente por saldar (neto)</span>
            </div>
            <div class="col-md-6">
                {{comisiones.TotalPendiente | currency}}
            </div>
        </div>      
        <div class="row">
            <div class="col-md-6">
                <span>Comisiones pagadas a los vendedores</span>
            </div>
            <div class="col-md-6">
                {{comisiones.CommissionOffice | currency}}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-6">
                <span>Comisiones pagadas a los despachos</span>
            </div>
            <div class="col-md-6">
                {{comisiones.CommissionSeller | currency}}
            </div>
        </div>        
        <br />   
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalDetailSaleReport" aria-labelledby="modalReloadPage" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalle de Venta</h4>
                </div>
                <div class="modal-body" id="msgModalDetailSaleReport">
                    <div ng-include="includeURL"></div>
                </div>
            </div>
        </div>
    </div>
</div>

