@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@model ADEntities.ViewModels.PreQuotationsViewModel

@{
    ViewBag.Title = "GetEraserPreQuotation";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script type="text/javascript" src="@Url.Js("Class/PreQuotations/Edit")"></script>
<script type="text/javascript" src="@Url.Js("Class/Customers")"></script>
<script type="text/javascript" src="@Url.Js("Class/Offices")"></script>
<script type="text/javascript" src="http://beneposto.pl/jqueryrotate/js/jQueryRotateCompressed.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript">
    function rotate() {
        var value = 0
        $("#imgName").rotate({
            bind:
            {
                click: function () {
                    value += 90;
                    $(this).rotate({ animateTo: value })
                }
            }
        });

        $("#edithImgName").rotate({
            bind:
            {
                click: function () {
                    value += 90;
                    $(this).rotate({ animateTo: value })
                }
            }
        });
    }
</script>
<style>
    #holder, #editHolder {
        width: 100%;
        height: 350px;
        border: 5px dashed gray;
        border-radius: 8px;
        background: rgb(230,230,230);
        background-repeat: no-repeat;
        background-size: 100%;
        vertical-align: central;
    }
</style>

<div class="panel panel-default" data-ng-controller="PreQuotationsController" style="width:950px;">
    <div class="panel-heading" data-ng-init="idPreQuotation = @Model.idPreCotizacion">
        <h3 class="panel-title">Editar Pre Cotización</h3>
    </div>
    <div class="panel-body" data-ng-init="branchID = @ViewBag.IDBranch">
        <div class="row">
            <div class="col-md-4 text-left">
                <label class="control-label">Pre Cotización</label>
                <h4 data-ng-init="number = '@Model.Numero'">{{number}}</h4>
            </div>
            <div class="col-md-4 text-left">
                <label class="control-label">Fecha y hora</label>
                <h4 data-ng-init="dateTime = '@DateTime.Now.ToString("MM/dd/yyyy HH:mm")'">{{dateTime}}</h4>
            </div>
            <div class="col-md-4 text-left">
                <label class="control-label">Sucursal</label>
                <h4 data-ng-init="branch = '@ViewBag.Branch.Nombre'">{{branch}}</h4>
            </div>
        </div>
        <br />
        <br />
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#costumer" aria-controls="costumer" role="tab" data-toggle="tab">Cliente</a></li>
            <li role="presentation"><a href="#service" aria-controls="service" role="tab" data-toggle="tab">Servicios</a></li>
            <li role="presentation"><a href="#summary" aria-controls="summary" role="tab" data-toggle="tab">Resumen</a></li>
        </ul>
        <div class="tab-content" data-ng-init="LoadServices()">
            <div role="tabpanel" class="tab-pane active" id="costumer" data-ng-init="LoadInformation(@ViewBag.TypeCustomer, '@ViewBag.Customer', '@ViewBag.Office', '@ViewBag.IDBranch', @Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Users),@Newtonsoft.Json.JsonConvert.SerializeObject(@Model))">
                <br />
                <br />
                <div class="row" data-ng-init="LoadCustomers()">
                    <div class="col-md-1 text-left">
                        <label class="control-label">Cliente</label>
                    </div>
                    <div class="col-md-4 text-left">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="radio" ng-model="customer.type" value="moral"/>Moral
                            </div>
                            <div class="col-md-3 text-left">
                                <input type="radio" ng-model="customer.type" value="physical"/>Físico
                            </div>
                            <div class="col-md-3 text-left">
                                <input type="radio" ng-model="customer.type" value="office"/>Despacho
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 text-left">
                        <label class="control-label">Proyecto</label>
                    </div>
                    <div class="col-md-5 text-left">
                        <input type="text" ng-model="project" value="" maxlength="300" style="width: 300px;" data-ng-init="project = '@Model.Proyecto'" uppercase />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control" name="moralCustomer" ng-show="customer.type == 'moral'" data-ng-model="moralCustomer" data-ng-options="option.Nombre for option in moralCustomers">
                            <option value="">Seleccione</option>
                        </select>
                        <select class="form-control" name="physicalCustomer" ng-show="customer.type == 'physical'" data-ng-model="physicalCustomer" data-ng-options="option.Nombre for option in physicalCustomers">
                            <option value="">Seleccione</option>
                        </select>
                        <select class="form-control" name="officeCustomer" ng-show="customer.type == 'office'" data-ng-model="officeCustomer" data-ng-options="option.Nombre for option in offices" data-ng-init="LoadOffices()">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <a href="JavaScript:void(0);" ng-show="customer.type == 'moral'" class="btn btn-block btn-success" data-ng-click="AddMoralCustomer();">
                            Agregar cliente
                        </a>
                        <a href="JavaScript:void(0);" ng-show="customer.type == 'physical'" class="btn btn-block btn-success" data-ng-click="AddPhysicalCustomer();">
                            Agregar cliente
                        </a>
                        <a href="JavaScript:void(0);" ng-show="customer.type == 'office'" class="btn btn-block btn-success" data-ng-click="AddOffice();">
                            Agregar desp.
                        </a>
                    </div>
                </div>
                <h3 class="panel-title"></h3>
                <br />
                <div class="row">
                    <div class="col-md-2">
                        <label class="control-label">Vendedor(es)</label>
                    </div>
                    <div class="col-md-4" data-ng-init="LoadUsers()">
                        <select class="form-control" data-ng-model="sellerOne" data-ng-options="option.NombreCompleto for option in usersOne" data-ng-change="LoadUsersButNot()">
                            <option value="">Seleccione</option>
                        </select>
                        <br />
                        <select class="form-control" data-ng-model="sellerTwo" data-ng-options="option.NombreCompleto for option in usersTwo">
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service">
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <button id="btn-clean" ng-hide="true" ng-click="CleanData()"></button>
                                    <label for="descService">Servicio</label>
                                    <select class="form-control" name="descService" data-ng-model="newService.descService" data-ng-options="option.Descripcion for option in listServices">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-md-5" style="display:flex; justify-content:center; align-items:center; min-height:80px">
                                    <div>
                                        <button type="button" class="btn btn-block btn-success" id="btnSelectStandardMeasurements" ng-show="newService.descService.MedidasEstandar > 0 ? true : false"
                                                ng-click="OpenModalStandarMeasurements()">
                                            Medidas
                                        </button>
                                    </div>
                                    <div style="padding-left:10px">
                                        <button type="button" class="btn btn-block btn-success" id="btnSelectFabrics" ng-show="newService.descService != null"
                                                ng-click="OpenModalFabricType()">
                                            Telas
                                        </button>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div style="display:flex; justify-content:space-between; align-items:center; min-height:80px">
                                        <div>
                                            <div style="display:flex; justify-content:space-between;">
                                                <div>
                                                    <i class="fa fa-check-square color-green" style="left: 0px;" ng-show="pdfName"></i>
                                                </div>
                                                <div>
                                                    <a ng-show="newService.descService != null" ng-click="OpenModalUploadPdf()" style="cursor:pointer; padding-left: 5px" ng-e>Agregar PDF</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <a ng-show="newService.descService != null" ng-click="OpenModalUploadImage()" style="cursor:pointer">Agregar Imagen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div>
                                        <label for="amount">Cantidad</label>
                                        <input type="number" id="amount" ng-model="newService.amountService" min="0" max="100" />
                                    </div>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="comment">Comentario</label>
                                        <textarea class="form-control" id="comment" ng-model="newService.commentsService" rows="3" uppercase></textarea>
                                    </div>
                                </div>

                            </div>
                            <div style="display:flex;  justify-content:end; align-items:end">
                                <div>
                                    <button type="button" id="SaveService" class="btn btn-danger" ng-click="AddService()">Agregar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <br />
                <h3 class="panel-title text-center">Servicios</h3>
                <br />
                <div class="row">
                    <div class="col-md-1 text-center">
                        <span class="color-red">Imagen</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <span class="color-red">Código</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <span class="color-red">Descripción</span>
                    </div>
                    <div class="col-md-3 text-center">
                        <span class="color-red">Cantidad</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <span class="color-red"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-repeat="item in items">
                            <div class="col-md-1 text-center"><img class="img-product-list" src="{{item.image}}" /></div>
                            <div class="col-md-3 text-center">SERVICIO</div>
                            <div class="col-md-3 text-center txt-describe"><p data-toggle="tooltip" data-placement="top"</p>{{item.desc}}</div>
                            <div class="col-md-3 text-center">{{item.amount}}</div>
                            <div class="col-md-2 text-center">
                                <i class="fa fa-pencil color-red" ng-click="EditService(item)"></i>
                                <i class="fa fa-trash color-red" ng-click="DeleteProduct(item.idProduct)"></i>
                                @*<i class="fa fa-comments-o color-red" ng-click="OpenCommentsModal(item.idProducto, item.comentarios)"></i>*@
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="summary">
                <br />
                <br />
                <div class="panel panel-success" style="width:100%;">
                    <div class="panel-body">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2">IMAGEN</div>
                                <div class="col-md-2">SERVICIO</div>
                                <div class="col-md-2">CANT.</div>
                                <div class="col-md-3">MEDIDAS.</div>
                                <div class="col-md-3">TELAS.</div>
                            </div>
                            <div class="row" ng-repeat="item in items">
                                <div class="col-md-2 text-center"><img class="img-product-list" src="{{item.image}}" /></div>
                                <div class="col-md-2">{{item.desc}}</div>
                                <div class="col-md-2">{{item.amount}}</div>
                                <div class="col-md-3" ng-if="executeFunction">
                                    {{summaryMeasures(item.measures)}}
                                </div>
                                <div class="col-md-3" ng-if="executeFunction">
                                    {{summaryFabrics(item.fabrics)}}
                                </div>
                            </div>
                            <br>
                            <br />
                            <b ng-show="customer.type == 'moral'">Cliente</b>&nbsp;<span>{{moralCustomer.Nombre}}</span>
                            <b ng-show="customer.type == 'physical'">Cliente</b>&nbsp;<span>{{physicalCustomer.Nombre}}</span>
                            <b ng-show="customer.type == 'office'">Cliente</b>&nbsp;<span>{{officeCustomer.Nombre}}</span>
                            <br />
                            <b>Le atendío:</b>&nbsp;<span>{{sellerOne.NombreCompleto}} --- {{sellerTwo.NombreCompleto}}</span>
                            <br />
                            <br />
                            <br />
                            <b>Fecha:</b>&nbsp;<span>{{ dateTime }}</span>
                            <br />
                            <b>Sucursal:</b>&nbsp;<span>{{ branch }}</span>
                            <b></b>
                            <br />
                            <div class="col-md-3"><b>Comentarios:</b></div>
                            <div class="col-md-3">
                                <textarea cols="50" rows="5" ng-model="comments" data-ng-init="comments = '@Model.Comentarios'" uppercase></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-5">
                            </div>
                            <div class="col-md-2">
                                <button type="button" name="saveSale" class="btn btn-primary" data-ng-click="" ng-really-message="Desea generar esta pre cotización?" ng-really-yes="ResumePreQuotation(true);" ng-really-no="ResumePreQuotation(false);">Guardar</button>
                            </div>
                            <div class="col-md-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL STANDAR MEASURES ---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalStandarMeasures" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Datos de Medida</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style=" display:flex; justify-content:center; align-items:center">
                                <div class="col-md-4">
                                    <label>Medida standar</label>
                                    <input type="checkbox" ng-checked="checkedStandarMeasures" ng-model="checkedStandarMeasures" ng-change="setMeasuresStandar()" />
                                </div>

                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12" ng-repeat="item in listMeasuresStandar">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row col-md-12">
                                                <div class="col-md-6" style="display: flex; justify-content: center; align-items:center;">
                                                    <label for="comment">{{item.NombreMedida}}</label>
                                                </div>

                                                <div class="col-md-6" style="display: flex; justify-content: center; align-items:center;">
                                                    <div style="margin-top:8px">
                                                        <input class="form-control" type="text" id="measure{{item.idTipoMedida}}" ng-disabled="checkedStandarMeasures" />
                                                    </div>
                                                </div>
                                                <br />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-8"></div>
                                <div class="col-md-4" style="display:flex; justify-content:end; align-items:end;"><button type="button" class="btn btn-danger" ng-click="AddMeasure()" ng-disabled="isEnabled">Aceptar</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL FABRIC ---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalFabric" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Telas</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="min-height:100px; display:flex; justify-content:center; align-items:center">
                                <div class="col-md-4">
                                    <select class="form-control" name="fabric" data-ng-model="fabric" data-ng-options="option.NombreTela for option in listFabrics">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-success" ng-click="AddFabricType()">Agregar</button>
                                </div>
                                <div class="col-md-4" style="display:flex; justify-content:end; align-items:end;">
                                    <button type="button" class="btn btn-danger" ng-click="SaveDataFabricType()">Aceptar</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="border-top: solid 1px #ebedef ">
                                    <div class="row" style="margin-top: 10px">
                                        <div class="col-md-4 text-center">
                                            <span class="color-red">Tela</span>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <span class="color-red">Precio por mts</span>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <span class="color-red"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <div class="row" style="display:flex">
                                <div class="col-md-12">
                                    <div class="row" ng-repeat="item in itemsFabrics">
                                        <div class="col-md-4 text-center">{{item.fabric}}</div>
                                        @*<div class="col-md-4 text-center">{{item.brand}}, {{item.fabric}}</div>*@
                                        <div class="col-md-4 text-center">{{item.price | currency}}</div>
                                        <div class="col-md-4 text-center">
                                            <i class="fa fa-trash color-red" ng-click="DeleteFabric(item.idFabricItem)"></i>
                                        </div>
                                    </div><br>
                                </div>
                            </div>


                        </div>
                        <div class="container-btn-modal">
                            <div class="row ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL UPLOAD IMAGE ---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalUploadImage" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Subir imagen</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group" data-ng-init="iniAddImage()">
                                    <div id="file-content" class="table-responsive file">
                                        <center><label>Arrastre aqui el archivo de imagen que desea agregar</label></center>
                                        <div id="holder" class="" data-ng-model="rd" data-ng-click="RotateImage()">   </div>
                                        <br />
                                        * Se permiten imágenes con formato PNG, JPEG y GIF
                                        <br /><br />
                                        <br /><br />
                                        <input type="hidden" id="imgName" />
                                        <input type="button" class="btn btn-block btn-success loadImg" value="Cargar imagen de servicio" data-ng-click="SaveUploadImg()" ng-disabled="isEnabledImage" data-loading-text="Cargando..." />
                                    </div>
                                </div>
                                @*<button type="button" id="SaveService" class="btn btn-primary" ng-click="AddService()">Agregar</button>*@
                            </form>
                        </div>
                        <div class="modal-footer">
                            <ul class="list-group">
                                <li class="list-group-item errorGeneral" data-ng-repeat="err in valResult.errors">{{ err.propertyName }}: {{ err.errorMessage }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL UPLOAD PDF ---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalUploadPdf" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Agregar PDF</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="formFileLg" class="form-label">Seleccionar archivo</label>
                                <input class="form-control form-control-lg" style="height: 47px;" id="fileInput" type="file" data-ng-model="filePDF">
                                <span style="color: red" ng-show="errorFile" id="fileError">Archivo excede 10 MB permitidos</span>
                            </div>
                            <div>
                                <input type="button" class="btn btn-block btn-success loadImg" value="Cargar archivo de servicio" ng-click="SaveFilePdf(false)" ng-disabled="isEnabledPDF" data-loading-text="Cargando..." />
                            </div>

                        </div>
                        <div class="modal-footer">
                            <ul class="list-group">
                                <li class="list-group-item errorGeneral" data-ng-repeat="err in valResult.errors">{{ err.propertyName }}: {{ err.errorMessage }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL EDIT SERVICE---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="modalEditService" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="CloseEditModal()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Editar Servicio</h4>
                        </div>
                        <div class="modal-body">

                            <ul class="nav nav-tabs" id="navEdit" role="tablist">
                                <li role="presentation" class="active"><a href="#serviceDetail" aria-controls="costumer" role="tab" data-toggle="tab">Servicio</a></li>
                                <li role="presentation" ng-show="newService.descService.MedidasEstandar > 0 ? true : false"><a href="#serviceMeasure" aria-controls="service" role="tab" data-toggle="tab">Medidas</a></li>
                                <li role="presentation"><a href="#serviceFabric" aria-controls="service" role="tab" data-toggle="tab">Telas</a></li>
                                <li role="presentation"><a href="#serviceImg" aria-controls="service" role="tab" data-toggle="tab">Imagen</a></li>
                                <li role="presentation"><a href="#servicePdf" aria-controls="summary" role="tab" data-toggle="tab">PDF</a></li>
                            </ul>

                            @*TAB SERVICE*@
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="serviceDetail">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form>
                                                <div class="form-group">
                                                    <label for="descService">Servicio</label>
                                                    <select class="form-control" name="descService" data-ng-model="newService.descService" data-ng-options="option.Descripcion for option in listServices">
                                                        <option value="">Seleccione</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="amountService">Cantidad</label>
                                                    <input type="number" id="amount" ng-model="newService.amountService" min="0" max="100" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="commentsService">Comentarios</label>
                                                    <textarea class="form-control" style="resize:none" id="commentsService" rows="3" ng-model="newService.commentsService" maxlength="400" uppercase></textarea>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                @*TAB IMG SERVICE*@
                                <div role="tabpanel" class="tab-pane " id="serviceImg">
                                    <div class="form-group" data-ng-init="iniEditProduct()">
                                        <div id="file-content" class="table-responsive file">
                                            <center><label>Arrastre aqui el archivo de imagen que desea agregar</label></center>
                                            <div id="editHolder" class="" data-ng-model="rd" data-ng-click="RotateImage()">   </div>
                                            <br />
                                            * Se permiten imágenes con formato PNG, JPEG y GIF
                                            <br />
                                            <input type="hidden" id="editImgName" />
                                            <input type="button" class="btn btn-block btn-success loadImg" value="Cargar imagen de servicio" data-ng-click="SaveUploadImg()" ng-disabled="isEnabledImage" data-loading-text="Cargando..." />
                                        </div>
                                    </div>
                                </div>

                                @*TAB MEASURE*@
                                <div role="tabpanel" class="tab-pane " id="serviceMeasure">
                                    <div class="row" style=" display:flex; justify-content:center; align-items:center">
                                        <div class="col-md-4">
                                            <label>Medida standar</label>
                                            <input type="checkbox" ng-model="checkedStandarMeasures" ng-change="setMeasuresStandar()" min="0" max="100" />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-md-12" ng-repeat="item in listMeasuresStandar">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row col-md-12">
                                                        <div class="col-md-6" style="display: flex; justify-content: center; align-items:center;">
                                                            <label>{{item.NombreMedida}}</label>
                                                        </div>

                                                        <div class="col-md-6" style="display: flex; justify-content: center; align-items:center;">
                                                            <div style="margin-top:8px"><input class="form-control" type="text" id="measureedit{{item.idTipoMedida}}" ng-model="item.Valor" ng-disabled="checkedStandarMeasures" /></div>
                                                        </div>
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*TAB FABRIC*@
                                <div role="tabpanel" class="tab-pane " id="serviceFabric">
                                    <div class="row" style="min-height:100px; display:flex; justify-content:center; align-items:center">
                                        <div class="col-md-4">
                                            <select class="form-control" name="fabric" data-ng-model="fabric" data-ng-options="option.NombreTela for option in listFabrics">
                                                <option value="">Seleccione</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-success" ng-click="AddFabricType()">Agregar</button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" style="border-top: solid 1px #ebedef ">
                                            <div class="row" style="margin-top: 10px">
                                                <div class="col-md-4 text-center">
                                                    <span class="color-red">Tela</span>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <span class="color-red">Precio por mts</span>
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    <span class="color-red"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="display:flex">
                                        <div class="col-md-12">
                                            <div class="row" ng-repeat="item in itemsFabrics">
                                                <div class="col-md-4 text-center"> {{item.fabric}}</div>
                                                <div class="col-md-4 text-center">{{item.price | currency}}</div>
                                                <div class="col-md-4 text-center">
                                                    <i class="fa fa-trash color-red" ng-click="DeleteFabric(item.idFabricItem)"></i>
                                                </div>
                                            </div><br>
                                        </div>
                                    </div>
                                </div>

                                @*TAB PDF*@
                                <div role="tabpanel" class="tab-pane " id="servicePdf">
                                    <div class="form-group" style="margin-top:10px">
                                        <label for="formFileLg" class="form-label">Seleccionar archivo</label>
                                        <input class="form-control form-control-lg" style="height: 47px;" id="fileInputEdit" type="file" data-ng-model="filePDF">
                                        <span style="color: red" ng-show="errorFile" id="fileError">Archivo excede 10 MB permitidos</span>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-info" ng-click="DownloadFilePdf()" ng-show="pdfName">Ver PDF</button>
                                            </div>
                                            <div class="col-md-6">
                                                <input id="btnEditPdf" type="button" class="btn btn-block btn-success loadImg" value="Cargar archivo de servicio" ng-click="SaveFilePdf(true)" ng-disabled="isEnabledPDF" data-loading-text="Cargando..." />
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <ul class="list-group">
                                <li class="list-group-item errorGeneral" data-ng-repeat="err in valResult.errors">{{ err.propertyName }}: {{ err.errorMessage }}</li>
                            </ul>
                            <div style="float:right">
                                <button type="button" id="SaveService" class="btn btn-danger" ng-click="SaveEditService()">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------MODAL ADD MORAL CUSTOMER---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalAddMoralCustomer" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div ng-include="includeURLMoral"></div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------------MODAL ADD PHYSICAL CUSTOMER---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalAddPhysicalCustomer" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div ng-include="includeURLPhysical"></div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>

            <!----------------------------MODAL ADD OFFICE CUSTOMER---------------------------->
            <div class="modal" tabindex="-1" role="dialog" id="openModalAddOfficeCustomer" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div ng-include="includeURLOffice"></div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




