@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@model ADEntities.ViewModels.ReceptionViewModel

<style>
    .center {
        text-align: center;
    }

        .center form {
            display: inline-block;
        }
</style>

<br />
<div class="panel panel-default" style="margin-right:50px; margin-left:50px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 center">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label><b>Recepción</b></label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span><b>@Model.Numero</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label><b>Transferencia</b></label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span><b>@Model.Transferencia</b></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label><b>Fecha</b></label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span>@Model.Fecha.Value.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label><b>Responsable</b></label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span>@Model.Usuario</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right">
                        <label><b>Sucursal</b></label>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span>@Model.Sucursal</span>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="panel-title">Productos</h3>
        <br />
        <div class="row" data-ng-init="InitDetail(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.lDetail))">
            <div class="col-md-1 text-center">
                <span class="color-red">Imagen</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="color-red">Código</span>
            </div>
            <div class="col-md-5 text-center">
                <span class="color-red">Descripción</span>
            </div>
            <div class="col-md-2 text-center">
                <span class="color-red">Precio</span>
            </div>
            <div class="col-md-1 text-center">
                <span class="color-red">Unidades</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="row" ng-repeat-start="item in items">
                    <div class="col-md-1 text-center"><img class="img-product-list" src="{{item.Imagen}}" /></div>
                    <div class="col-md-3 text-center">{{item.Codigo}}</div>
                    <div class="col-md-5 text-center txt-describe"><p data-toggle="tooltip" data-placement="top" title="{{item.Descripcion}}">{{item.Descripcion}}</p></div>
                    <div class="col-md-2 text-center">{{item.Costo | currency}}</div>
                    <div class="col-md-1 text-center">{{item.Cantidad}}</div>
                </div><br>
                <div class="row" ng-repeat-end ng-show="item.Comentarios.length > 0">
                    <div class="col-md-2">
                        <b>COMENTARIOS:</b>
                    </div>
                    <div class="col-md-10">
                        <p class="text-left">{{item.Comentarios}}</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>


