@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@using ADSystem.Common;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script type="text/javascript" src="@Url.Js("Class/Credits")"></script>

<br />
<div class="panel panel-default" style="width:1100px;">
    <div class="panel-heading">
        <h3 class="panel-title">Notas de Crédito</h3>
    </div>
    <div class="panel-body" data-ng-controller="CreditsController">
        <form class="form-horizontal" style="margin-left:300px;width:500px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Desde</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateSince" datepicker-popup="{{format}}" data-ng-model="dateSince" is-open="openedSince" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openSince($event)" show-button-bar="false" placeholder="Seleccione la fecha inicial de consulta" data-ng-init="dateSince = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateUntil" datepicker-popup="{{format}}" data-ng-model="dateUntil" is-open="openedUntil" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openUntil($event)" show-button-bar="false" placeholder="Seleccione la fecha final de consulta" data-ng-init="dateUntil = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Remisión</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="sRemision" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cliente</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="sCustomer" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estatus</label>
                <div class="col-sm-10">
                    <select class="form-control" data-ng-model="sStatusCredit" data-ng-init="sStatusCredit=@Constants.ventaPendiente">
                        <option value="0">Todos</option>
                        <option value="1">Saldada</option>
                        <option value="2">Pendiente</option>
                        <option value="3">Cancelada</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sucursal</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="sBranchAma" ng-true-value="2" />Ámazonas
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchGua" ng-true-value="3" />Guadalquivir
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchTex" ng-true-value="4" />Textura
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="button" id="searchCredits" class="btn btn-primary button-search" data-loading-text='Buscando...' data-ng-click="listCredits();">Buscar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="3">
                            <div class="">
                                <ul class="pagination">
                                    <li data-ng-class="prevPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="prevPage()">« Ant</a>
                                    </li>
                                    <li data-ng-repeat="n in range()" data-ng-class="{activePage: (n) == currentPage}" data-ng-click="setPage(n)">
                                        <a href="javascript:void(0);">{{n + 1}}</a>
                                    </li>
                                    <li data-ng-class="nextPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="nextPage()">Sig »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Crédito</th>
                        <th>Venta</th>
                        <th>Cliente</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Vigencia</th>
                        <th>Origen</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-repeat" data-ng-repeat="c in Credits">
                        <td>{{($index + (itemsPerPage * currentPage)) + 1}}</td>
                        <td>{{c.RemisionCredito}}</td>
                        <td>{{c.RemisionVenta}}</td>
                        <td>{{c.Cliente}}</td>
                        <td>{{c.Cantidad | currency}}</td>
                        <td>{{c.Fecha | jsDate | date:'shortDate'}}</td>
                        <td>{{c.FechaVigencia | jsDate | date:'shortDate'}}</td>
                        <td>{{c.TipoNotaCredito.Nombre}}</td>
                        <td class="pull-left">
                            <a href="javascript:void(0);" data-ng-click="openModalStatus(c.idNotaCredito, c.Estatus)"> <i class="fa fa-circle color-{{c.sEstatus}}" style="left: 0px;"> </i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("Credits","PrintCredit") == 1" data-ng-click="PrintCredit(c.idNotaCredito)"><i class="fa fa-print color-red" style="left: 0px;"></i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("Credits","DetailCredit") == 1" data-ng-click="DetailCredit(c.idNotaCredito)"><i class="fa fa-eye color-red" style="left: 0px;"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <div class="">
                                <ul class="pagination">
                                    <li data-ng-class="prevPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="prevPage()">« Ant</a>
                                    </li>
                                    <li data-ng-repeat="n in range()" data-ng-class="{activePage: (n) == currentPage}" data-ng-click="setPage(n)">
                                        <a href="javascript:void(0);">{{n + 1}}</a>
                                    </li>
                                    <li data-ng-class="nextPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="nextPage()">Sig »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalDetailCredit" aria-labelledby="modalReloadPage" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Detalle Credito</h4>
                    </div>
                    <div class="modal-body" id="msgModalDetailCredit">
                        <div ng-include="includeURL"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="openModalStatus" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Estatus de Nota de Crédito</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Estatus</label>
                            <select class="form-control" data-ng-model="statusCredit">
                                <option value="1">Saldada</option>
                                <option value="2">Pendiente</option>
                                <option value="3">Cancelada</option>
                            </select>
                        </div>                        
                        <button type="button" class="btn btn-primary" ng-click="SetStatus()">Aceptar</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
