@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@using ADSystem.Common;

@{
    ViewBag.Title = "Mesa de Regalos";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}


<link rel="stylesheet" type="text/css" href="@Url.Css("Content/CSS/bootstrap-datetimepicker.min")" />

<script type="text/javascript" src="@Url.Js("Class/GiftsTable")"></script>
<script type="text/javascript" src="@Url.Js("moment.min")"></script>
<script type="text/javascript" src="@Url.Js("bootstrap-datetimepicker.min")"></script>

<script>
    $(document).on("click", ".modal-body", function () {
        $(".datepickerSales").datetimepicker({
            format: 'MM-DD-YYYY'
        });
    });

</script>

<style>
    .clsDatePicker {
        z-index: 100000;
    }
</style>

<br />
<div class="panel panel-default" style="width:1100px;">
    <div class="panel-heading">
        <h3 class="panel-title">Mesa de Regalos</h3>
    </div>
    <div class="panel-body" data-ng-controller="GiftsTableController">
        <form class="form-horizontal" style="margin-left:300px;width:500px;">
            <div class="form-group">
                <label class="col-sm-2 control-label">Desde</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateSince" datepicker-popup="{{format}}" data-ng-model="dateSince" is-open="openedSince" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openSince($event)" show-button-bar="false" placeholder="Seleccione la fecha inicial de consulta" data-ng-init="dateSince = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Hasta</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="dateUntil" datepicker-popup="{{format}}" data-ng-model="dateUntil" is-open="openedUntil" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openUntil($event)" show-button-bar="false" placeholder="Seleccione la fecha final de consulta" data-ng-init="dateUntil = '@DateTime.Now.ToString("MM/dd/yyyy")'" readonly />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Remisión</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="sRemision" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Cliente</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="sCustomer" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Producto</label>
                <div class="col-sm-10">
                    <input type="text" data-ng-model="sCodigo" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Estatus</label>
                <div class="col-sm-10">
                    <select class="form-control" data-ng-model="sStatusCredit" data-ng-init="sStatusCredit=@Constants.ventaPendiente">
                        <option value="0">Todos</option>
                        <option value="1">Saldada</option>
                        <option value="2">Pendiente</option>
                        <option value="3">Cancelada</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sucursal</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="sBranchAma" ng-true-value="2" />Ámazonas
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchGua" ng-true-value="3" />Guadalquivir
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="sBranchTex" ng-true-value="4" />Textura
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="button" id="btnGetList" class="btn btn-primary button-search" data-loading-text='Buscando...' data-ng-click="listGiftsTable()">Buscar</button>
                </div>
            </div>
        </form>
        <br />
        <div class="table-responsive" style="width:1090px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td colspan="3">
                            <div class="">
                                <ul class="pagination">
                                    <li data-ng-class="prevPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="prevPage()">« Ant</a>
                                    </li>
                                    <li data-ng-repeat="n in range()" data-ng-class="{activePage: (n) == currentPage}" data-ng-click="setPage(n)">
                                        <a href="javascript:void(0);">{{n + 1}}</a>
                                    </li>
                                    <li data-ng-class="nextPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="nextPage()">Sig »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th style="width:100px;">Remision</th>
                        <th>Novio</th>
                        <th>Novia</th>
                        <th style="width:135px;">Vendedores</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="animate-repeat" data-ng-repeat="g in GiftsTable">
                        <td>{{g.Remision}}</td>
                        <td>{{g.Novio}}</td>
                        <td>{{g.Novia}}</td>
                        <td><div class="txt-describe">{{g.Vendedor1}}</div></td>
                        <td>{{g.Fecha | jsDate | date:'shortDate'}}</td>
                        <td>{{(g.Total > 0)? g.Total : 0 | currency}}</td>
                        <td>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","UpdateStatusGiftsTable") == 1 && g.Estatus != 3" data-ng-click="ChangeStatus(g.idMesaRegalo,g.Estatus)"><i class="fa fa-circle color-{{g.sEstatus}}" style="left: 0px;"></i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","GetDetailGiftsTable") == 1" data-ng-click="DetailGiftsTable(g.idMesaRegalo)"><i class="fa fa-eye color-red" style="left: 0px;"></i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","GiftsTableForSale") == 1" data-ng-click="GiftsTableForSale(g.idMesaRegalo)"><i class="fa fa-shopping-cart color-red" style="left: 0px;"></i></a>
                            @*<a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","UpdateGiftsTable") == 1" data-ng-click="GetGiftsTable(g.idMesaRegalo)"><i class="fa fa-pencil color-red" style="left: 0px;"></i></a>*@
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","CloseGiftsTable") == 1" ng-really-message="Está seguro que desea cerrar la mesa de regalos?" ng-really-click="CloseGiftsTable(g.idMesaRegalo)"><i class="fa fa-gift color-red" style="left: 0px;"></i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","PrintGiftsTable") == 1" data-ng-click="Print(g.Remision)"><i class="fa fa-print color-red" style="left: 0px;"></i></a>
                            <a href="javascript:void(0);" data-ng-show="@HtmlHelperExtension.Icon("GiftsTable","SendMailSaleAgain") == 1" data-ng-click="SendMail(g.Remision)"><i class="fa fa-envelope color-red" style="left: 0px;"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <div class="">
                                <ul class="pagination">
                                    <li data-ng-class="prevPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="prevPage()">« Ant</a>
                                    </li>
                                    <li data-ng-repeat="n in range()" data-ng-class="{activePage: (n) == currentPage}" data-ng-click="setPage(n)">
                                        <a href="javascript:void(0);">{{n + 1}}</a>
                                    </li>
                                    <li data-ng-class="nextPageDisabled()">
                                        <a href="javascript:void(0);" data-ng-click="nextPage()">Sig »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalDetailGiftsTable" aria-labelledby="modalReloadPage" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Detalle de Mesa de Regalos</h4>
                    </div>
                    <div class="modal-body" id="ContentDetailGiftsTable">
                        <div ng-include="includeURL"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="modalSendMail" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm" style="width: 400px;">
                <div class="modal-content" style="width: 400px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="descService">Correo</label>
                            <input type="email" data-ng-model="txtSendMail" style="width: 300px;" />
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="AcceptSendMail()">Aceptar</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="openModalStatus" aria-labelledby="openModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Estatus de Mesa de Regalos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="descService">Estatus</label>
                            <select class="form-control" data-ng-model="statusSale">
                                <option value="1">Saldada</option>
                                <option value="2">Pendiente</option>
                                <option value="3">Cancelada</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" ng-click="SetStatus()">Aceptar</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


